$color-blue: #1890ff;
$color-light-blue: #d3ebf3;
$glowing-blue: rgba(81, 203, 238, 1);

$glowing-blue-box-shadow: 0 0 5px $glowing-blue;
$light-black-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
$light-black-onhover-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.2);

$font-big: 38px;
$font-size-primary: 18px;
$font-size-secondary: 16px;

$font-weight-bold: 600;
