.chartWrapper {
  margin: 20px 0;
  position: relative;
  display: flex;

  .chartAreaWrapper {
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    chart {
      position: relative;
      left: -2px;
    }
  }
}
