.chartWrapper {
  position: relative;
  display: flex;

  .chartAreaWrapper {
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    :global .chartjs-size-monitor {
      display: none;
    }
  }
}
