// .chartWrapper {
//   display: flex;
//   justify-content: center;
//   margin: 30px 0;
// }
.chartWrapper {
  margin: 20px 0;
  position: relative;
  display: flex;

  .chartAreaWrapper {
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
