@import "../../styles/utils";

.todayWeatherDataWrapper {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  box-shadow: $light-black-box-shadow;
  border-radius: 16px;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.2);

  &:hover {
    box-shadow: $light-black-onhover-shadow;
  }

  .currentWeather {
    display: inline-flex;
    align-items: center;
    .temperature {
      font-size: $font-big;
      font-weight: $font-weight-bold;
      margin-right: 40px;
    }
    img {
      width: 15%;
    }
  }

  .label {
    font-weight: $font-weight-bold;
    font-size: $font-size-primary;
  }

  .weatherAllInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    > div {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    @include breakpoint(mobile) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
    }
  }
}
