.todayWeatherDataWrapper {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .currentWeather {
    display: inline-flex;
    align-items: center;
    .temperature {
      font-size: 40px;
      font-weight: 600;
      margin-right: 40px;
    }
    img {
      width: 20%;
    }
  }

  .pressureHumidityWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .pressure,
    .humidity {
      display: flex;
      flex-direction: column;
      width: 45%;
      font-size: 18px;
      padding: 10px;
      background: #d3ebf3;
      border-radius: 5px;

      .label {
        font-weight: 600;
      }
    }
  }
}
