@import '.../../../../styles/utils/index';

.card {
  margin-right: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in-out;
  padding: 12px;
  &:nth-last-child() {
    margin-right: 0;
  }

  .day {
    font-weight: 600;
  }

  .temperature {
    margin-top: 6px;

    &__max {
      font-weight: 600;
    }
  }

  .weatherDetails {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 50px;
    }
  }

  &:hover {
    border: 1px solid blue;
    border-radius: 5px;
  }
}

@include breakpoint(mobile) {
  .card {
    font-size: 16px;
    margin-right: 10px;
    padding: 12px 8px;
  }
}
