@import ".../../../../styles/utils/index";

.card {
  margin-right: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in-out;
  padding: 0.8em 1.8em;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.2);

  &:nth-last-child() {
    margin-right: 0;
  }

  .day {
    font-weight: $font-weight-bold;
  }

  .temperature {
    margin-top: 6px;

    &__max {
      font-weight: $font-weight-bold;
    }
  }

  .weatherDetails {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 50px;
      margin-bottom: 1em;
    }
  }
}

@include breakpoint(mobile) {
  .card {
    font-size: $font-size-secondary;
    margin-right: 10px;
    padding: 0.8em 1.4em;
  }
}
